<template>
    <q-modal minimized
		ref="basicModal"
		v-model="showImage"
		v-if="showImage"
		:content-css="{padding: '30px'}">
      <img :src="image" width="720" height="420">
      <br>
      <q-btn class="full-width" color="primary" @click="CloseModal()">Close</q-btn>
	</q-modal>
</template>

<script>
export default {
	name: 'ImageModal',
	props: ['image', 'showImage'],
	data() {
		return {}
	},
	methods: {
		CloseModal() {
			this.$emit('onCloseModal')
		}
	}
}
</script>

<style>

</style>
