<template>
    <q-modal minimized ref="basicModal" v-model="showLink" v-if="showLink" :content-css="{padding: '30px'}">
		<div class="row group" v-for="(server, idx) in links" :key="idx">
			<p class="caption">{{server.server + ':  '}}</p>
			<a target="_blank" v-for="(l, idx) in server.links" :key="idx" :href="l.url">
				<span class="floating label">{{l.name}}</span>
			</a>
		</div>
		<br>
		<q-btn color="primary" @click="CloseModal()">Close</q-btn>
	</q-modal>
</template>

<script>
export default {
	name: 'LinksModal',
	props: ['showLink', 'links'],
	data() {
		return {}
	},
	methods: {
		CloseModal() {
			this.$emit('onCloseModal')
		}
	}
}
</script>

<style>

</style>
