<template>
  <q-page padding>
    <k-show-generic v-if="shows.length > 0" :shows="shows" :episodes="episodes" :links="links" :show-link="showLink" v-on:showSelected="onShowSelected" v-on:episodeSelected="getDownloadLinks" v-on:onCloseModal="showLink = !showLink"/>
  </q-page>
</template>

<script>
import KShowGeneric from './KShowGeneric'
export default {
	components: { KShowGeneric },
	data() {
		return {
			shows: [],
			episodes: [],
			links: null,
			showLink: false
		}
	},
	created() {
		this.getList()
	},
	methods: {
		getList() {
			if (this.$route.query.api) {
				var self = this
				this.$axios
					.get(this.$route.query.api + '/shows')
					.then(function(response) {
						console.log(response)
						if (response.data.shows) {
							self.shows = self.$_.forEach(response.data.shows, function(show) {
								show.label = show.title
							})
						} else self.shows = []
					})
					.catch(function(error) {
						console.log(error)
					})
			}
		},
		onShowSelected(show) {
			if (this.$route.query.api) {
				var self = this
				this.$axios
					.get(this.$route.query.api + '/episodes?show=' + show.url)
					.then(function(response) {
						console.log(response.data.episodes)
						if (response.data.episodes) self.episodes = response.data.episodes
						else self.episodes = []
					})
					.catch(function(error) {
						console.log(error)
					})
			}
		},
		getDownloadLinks(episode, oneLink) {
			console.log('getDownloadLinks: ', episode)
			if (this.$route.query.api) {
				var self = this
				this.$axios
					.get(
						this.$route.query.api +
							'/links?episode=' +
							episode.url +
							'&oneLink=' +
							oneLink
					)
					.then(function(response) {
						console.log(response.data)
						if (response.data && !self.$_.isEmpty(response.data.links)) {
							self.showLink = true
							self.links = response.data.links
						} else {
							self.links = null
							self.$q.notify("Didn't find any links")
						}
					})
					.catch(function(error) {
						self.$q.notify("Didn't find any links")
						console.log(error)
					})
			}
		}
	}
}
</script>

<style>

</style>
