<template>
  <div>
    <links-modal :links="links" :show-link="showLink" v-on:onCloseModal="CloseModal" key="showLinkModal"/>
    <image-modal :image="image" :show-image="showImage" v-on:onCloseModal="CloseModal" key="showImageModal"/>
    <div class="row">
      <q-search v-model="terms" :clearable="true" type="text" placeholder="Search for a show" class="col-4">
        <q-autocomplete :static-data="{field: 'title', list: shows}" @selected="showSelected"/>
      </q-search>
      <q-toggle v-if="showOneLinkOpt" v-model="oneLink" :left-label="true" inverted color="warning" label="Show one link?" class="q-pl-md"/>
    </div>
    <div class="row group justify-start">
      <q-list highlight link class="col-4">
        <q-list-header>Shows</q-list-header>
        <q-item v-for="(s, idx) in shows" :key="idx" @click.native="showSelected(s)">
          <q-item-side icon="reorder" inverted color="grey-6" />
          <q-item-main>
            <q-item-tile label>{{s.title}}</q-item-tile>
          </q-item-main>
        </q-item>
      </q-list>
      <q-list highlight link no-border class="col no-margin" v-if="episodes && episodes.length > 0">
        <q-list-header>Episodes</q-list-header>
        <q-item v-for="(ep, idx) in episodes" :key="idx" >
          <q-item-side v-if="enableEpImage">
            <q-btn icon="image" color="secondary" @click.native="episodeImageSelected(ep)"/>
          </q-item-side>
          <q-item-main :label="ep.title" @click.native="episodeSelected(ep)"/>
          <q-item-side v-if="ep.age" right :stamp="ep.age"/>
        </q-item>
      </q-list>
    </div>
    <q-btn
      v-back-to-top.animate="{offset: 500, duration: 200}"
      round
      color="primary"
      class="fixed-bottom-right animate-pop"
      style="margin: 0 15px 15px 0"
      >
      <q-icon name="keyboard_arrow_up" />
    </q-btn>
  </div>
</template>

<script>
import LinksModal from '../components/modals/LinksModal'
import ImageModal from '../components/modals/ImageModal'
export default {
	name: 'KShowGeneric',
	components: { LinksModal, ImageModal },
	props: [
		'shows',
		'episodes',
		'links',
		'showLink',
		'enableEpImage',
		'showImage',
		'image',
		'showOneLinkOpt'
	],
	data() {
		return {
			terms: '',
			show: null,
			oneLink: true
		}
	},
	methods: {
		showSelected(show) {
			this.show = show
			console.log('selected: ', show)
			if (show.url) this.$emit('showSelected', show)
			else this.$q.notify('invalid show')
		},
		episodeImageSelected(ep) {
			this.$emit('episodeImageSelected', ep)
		},
		episodeSelected(ep) {
			this.$emit('episodeSelected', ep, this.oneLink)
		},
		CloseModal() {
			this.$emit('onCloseModal')
		}
	}
}
</script>

<style>
</style>
