<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar color="primary" >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          k-show scraper
        </q-toolbar-title>
      </q-toolbar>
      <q-tabs>
        <q-route-tab v-if="variety.includes($route.name)" slot="title" icon="" :to="{name: 'KShow Online', query: {api: 'kshow-online'}}" replace label="KShow Online" />
        <q-route-tab v-if="variety.includes($route.name)" slot="title" icon="" :to="{name: 'kshow123', query: {api: 'kshow123'}}" replace label="kshow123" />
        <q-route-tab v-if="drama.includes($route.name)" slot="title" icon="" :to="{name: 'dramago', query: {api: 'dramago'}}" replace label="dramago" />
      </q-tabs>
    </q-layout-header>

    <q-layout-drawer v-model="leftDrawerOpen" :left-breakpoint="0">
      <q-list no-border link inset-delimiter>
        <q-list-header>What to watch</q-list-header>
        <q-item exact replace to="/">
          <q-item-main label="Variety Shows" />
        </q-item>
        <q-item exact replace to="/drama">
          <q-item-main label="Dramas" />
        </q-item>
      </q-list>
    </q-layout-drawer>
    <q-page-container>
      <router-view :key="$route.fullPath"/>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
	name: 'LayoutDefault',
	data() {
		return {
			leftDrawerOpen: false,
			variety: ['Variety', 'KShow Online', 'kshow123'],
			drama: ['Drama', 'dramago']
		}
	}
}
</script>

<style>

</style>
